<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= garment.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= garment.garment_type.name %></h6>
    <p class="card-text"><b>От:</b> <%= garment.min_temp %>°C</p>
    <p class="card-text"><b>До:</b> <%= garment.max_temp %>°C</p>
  </div>
</div>
